[Unit]
Description=Webhook Endpoint
After=network.target

[Service]
User=deploy
ExecStart=/home/deploy/webhook/start.sh
WorkingDirectory=/home/deploy/webhook
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target